header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-wrapper {
    width: 70px;
}

.app-title {
    padding-left: 15px;
    font-size: 24px;
    line-height: 44px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.app-title h6 {
    color: #989898;
    font-weight: 400;
    font-size: 18px;
    padding-left: 5px;
    line-height: 24px;
    margin-top: 8px;
}